/*Colours*/
:root{
    --free-darkest: #2C3E50;
    --free-primary: #1ABC9C;
    --free-dark: #3A546D;
}

/*Big things*/
header{
    background-color: var(--free-darkest);
}


/*My Utilities*/
.horizonal_rule{
    width: 70px;
    height: 3px;
    background-color: white;
}

.fa-brands{
    padding-top: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 2;
}

/*jumbo*/
#jumbotron{
    background-color: var(--free-primary);
}

#jumbotron .my_w{
    max-width: 250px;
}


/*about_us*/
#about_us{
    background-color: var(--free-primary);
}

/*contact me*/
#contact_me .my_color{
    background-color: #1ABC9C;
    color: white;
}


/*foot up bg*/
#foot_up{
    background-color: var(--free-dark);
}



/*Used for change width of my rule and font-sizes*/
@media screen and (min-width:769px) {
    .horizonal_rule_md{
        width: 100px;
        height: 3px;
        background-color: white;
    }

    #jumbotron .my_size_h1{
        font-size:60px;
    }

    #jumbotron .my_size_b{
        font-size:large;

    }

    .my_size_h2{
        font-size:54px;
    }
}