:root{
    --free-darkest: #2C3E50;
    --free-primary: #1ABC9C;
    --free-dark: #3A546D;
}

.horizonal_rule{
    width: 80px;
    height: 3px;
    background-color: white;
}




header{
    background-color: var(--free-darkest);
}


#jumbotron{
    background-color: var(--free-primary);
}

#about_us{
    background-color: var(--free-primary);
}

#contact_me .my_color{
    background-color: #1ABC9C;
    color: white;
}