:root{
    --free-darkest: #2C3E50;
    --free-primary: #1ABC9C;
    --free-dark: #3A546D;
}

.horizonal_rule{
    width: 70px;
    height: 3px;
    background-color: white;
}



header{
    background-color: var(--free-darkest);
}


#jumbotron{
    background-color: var(--free-primary);
}

#jumbotron .my_w{
    max-width: 450px;
}

#about_us{
    background-color: var(--free-primary);
}

#contact_me .my_color{
    background-color: #1ABC9C;
    color: white;
}

#foot_up{
    background-color: var(--free-dark);
}

.fa-brands{
    padding-top: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 2;
}


@media screen and (min-width:769px) {
    .horizonal_rule_md{
        width: 100px;
        height: 3px;
        background-color: white;
    }
}